<p-dialog [(visible)]="visible" (onHide)="closeDialog()" closeOnEscape="true" dismissableMask="true" header="קליטת שק"
    [modal]="true" [style]="{width: '40vw'}">

    @if (bag) {
    <div class="d-flex flex-column gap-4 py-3">

        @if (isIdentified) {
        <div class="d-flex gap-4">
            <div class="d-flex flex-column gap-4 w-100">
                <p-floatlabel variant="on" class="w-100">
                    <input pInputText class="w-100" [ngModel]="deceased?.FullName" [readonly]="true" />
                    <label>שם מלא</label>
                </p-floatlabel>

                <p-floatlabel variant="on" class="w-100">
                    <input pInputText class="w-100" [ngModel]="deceased?.IdentityNumber" [readonly]="true" />
                    <label>מספר זהות</label>
                </p-floatlabel>
            </div>

            <div class="d-flex flex-column gap-4 w-100">
                <p-floatlabel variant="on" class="w-100">
                    <input pInputText class="w-100" [ngModel]="deceased?.FatherName" [readonly]="true" />
                    <label>שם האב</label>
                </p-floatlabel>

                <p-floatlabel variant="on" class="w-100">
                    <input pInputText class="w-100" [ngModel]="deceased?.Gender" [readonly]="true" />
                    <label>מין</label>
                </p-floatlabel>
            </div>
        </div>
        } @else {
        <div class="text-center py-4 bg-gray-50 border-round border-1 border-gray-200">
            <i class="pi pi-user-minus text-4xl mb-2 text-orange-500"></i>
            <p class="font-bold text-lg m-0 text-orange-700">שק זה אינו מזוהה עדיין</p>
        </div>
        }

        <p-divider></p-divider>

        <div class="row pt-2">
            <div class="col-6">
                <p-floatlabel variant="on" class="w-100">
                    <input pInputText [value]="bag.BagNumber" [readonly]="true" class="w-100" />
                    <label>מספר שק</label>
                </p-floatlabel>
            </div>
            <div class="col-6">
                <p-floatlabel variant="on" class="w-100">
                    <input pInputText [(ngModel)]="bag.PartDescription" placeholder="תיאור חלק" class="w-100" />
                    <label>תיאור חלק</label>
                </p-floatlabel>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-end gap-2 mt-4">
        <p-button label="קלוט שק" (click)="submitReception()" icon="pi pi-check" severity="success"></p-button>
        <p-button label="ביטול" (click)="closeDialog()" [text]="true" severity="secondary"></p-button>
    </div>
    }
</p-dialog>
