<div class="p-3">
  @if (deceased) {
    <div class="d-flex justify-content-start gap-5">
      <div>
        <h3 class="py-3">פרטים כלליים</h3>
        <div class="d-flex flex-column gap-3">
          @for (field of fieldsPart1; track field.field) {
            <div>
              <label class="d-block fw-bold mb-1">{{ field.header }}:</label>
              <div>{{ deceased[field.field] ?? 'לא מצויין' }}</div>
            </div>
          } @empty {
            <div>אין עמודות בחלק הראשון להצגה.</div>
          }
        </div>
      </div>

      <div>
        <h3 class="py-3">פרטים נוספים</h3>
        <div class="d-flex flex-column gap-3">
          @for (field of fieldsPart2; track field.field) {
            <div>
              <label class="d-block fw-bold mb-1">{{ field.header }}:</label>
              <div>{{ deceased[field.field] ?? 'לא מצויין' }}</div>
            </div>
          } @empty {
            <div>אין עמודות בחלק השני להצגה.</div>
          }
        </div>
      </div>

    </div>
  } @else {
    <div>
      <p>אין פרטים להצגה.</p>
    </div>
  }
</div>
