<form #transportForm="ngForm" class="w-100 my-5 d-flex flex-column">
  <div class="d-flex">
    <div class="w-50 d-flex flex-column gap-5">
      <p-floatlabel variant="on">
        <input pInputText
               class="w-75"
               required
               [(ngModel)]="newTransport.StartLocation"
               name="StartLocation"
               autocomplete="off"/>
        <label>מקום התחלת שינוע</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input pInputText
               class="w-75"
               required
               [(ngModel)]="newTransport.Purpose"
               #purpose="ngModel"
               name="Purpose"
               autocomplete="off"/>
        <label>תכלית השינוע</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input pInputText
               class="w-75"
               required
               [(ngModel)]="newTransport.Organization"
               #organization="ngModel"
               name="Organization"
               autocomplete="off"/>
        <label>ארגון משנע</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input pInputText
               class="w-75"
               required
               [(ngModel)]="newTransport.Destination"
               #destination="ngModel"
               name="Destination"
               autocomplete="off"/>
        <label>מקום יעד שינוע</label>
      </p-floatlabel>
    </div>
    <div class="w-50 d-flex flex-column gap-5">
      <p-floatlabel variant="on">
        <input pInputText
               class="w-75"
               required
               [(ngModel)]="newTransport.VehicleType"
               #vehicleType="ngModel"
               name="VehicleType"
               autocomplete="off"/>
        <label>סוג אמצעי שינוע</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input pInputText
               class="w-75"
               required
               [(ngModel)]="newTransport.LicensePlate"
               #licensePlate="ngModel"
               name="LicensePlate"
               autocomplete="off"/>
        <label>לוחית זיהוי רכב</label>
      </p-floatlabel>
      <div class="d-flex flex-column w-75">
        <label>שעת התחלת השינוע</label>
        <p-datePicker
          [(ngModel)]="newTransport.StartDateTime"
          #startDateTime="ngModel"
          name="StartDateTime"
          [showTime]="true"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          [hourFormat]="'24'"
          appendTo="body"
          required
          appConvertTimezone>
        </p-datePicker>
      </div>
    </div>
  </div>
</form>
<p-button (click)="createTransport()"
          [disabled]="transportForm.invalid">יצירת שינוע
</p-button>

