<div class="p-3">
  <p-accordion [multiple]="true">

    <p-accordion-panel [value]="0">
      <p-accordion-header>פרטים כלליים</p-accordion-header>
      <p-accordion-content>
        <div class="d-flex flex-column gap-3 p-3">
          @for (field of fieldsPart1; track field.field) {
            <div>
              <label class="d-block fw-bold mb-1">{{ field.header }}:</label>
              <div>{{ deceased[field.field] ?? 'לא הוזן' }}</div>
            </div>
          } @empty {
            <div>אין נתונים להצגה.</div>
          }
        </div>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel [value]="1">
      <p-accordion-header>פרטים נוספים</p-accordion-header>
      <p-accordion-content>
        <div class="d-flex flex-column gap-3 p-3">
          @for (field of fieldsPart2; track field.field) {
            <div>
              <label class="d-block fw-bold mb-1">{{ field.header }}:</label>
              <div>{{ deceased[field.field] ?? 'לא הוזן' }}</div>
            </div>
          } @empty {
            <div>אין נתונים להצגה.</div>
          }
        </div>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel [value]="2">
      <p-accordion-header>טבלת שינועים</p-accordion-header>
      <p-accordion-content>
        <div class="p-3">
          <h4>היסטוריית שינועים</h4>

          <p-table #dt
                   [columns]="transportCols"
                   showGridlines="true"
                   [value]="transports"
                   [tableStyle]="{ 'min-width': '50rem' }"
                   [size]="'small'"
                   [rows]="10"
                   [showCurrentPageReport]="true"
                   currentPageReportTemplate="מציג {first} עד {last} מתוך {totalRecords} רשומות"
                   [rowHover]="true"
                   dataKey="id">

            <ng-template pTemplate="header" let-columns>
              <tr>
                @for(col of columns; track col.field) {
                  <th>{{ col.header }}</th>
                }
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-transport let-columns="columns">
              <tr>
                @for(col of columns; track col.field) {
                  <td>

                    @if (col.field === 'startDateTime') {
                      {{ transport[col.field] | date: 'dd/MM/yyyy HH:mm' }}
                    } @else {
                      {{ transport[col.field] }}
                    }
                  </td>
                }
              </tr>
            </ng-template>

            <ng-template #empty>
              <tr>
                <td [attr.colspan]="transportCols.length + 2">אין נתונים זמינים.</td>
              </tr>
            </ng-template>

          </p-table>

        </div>

      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
