<p-tabs [(value)]="activeTab">
    <p-tablist class="p-4">
        <p-tab value="0">פרטים</p-tab>
        <p-tab value="1">שינוע להכנה לקבורה</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <div class="p-3">
                <p-accordion [multiple]="true">

                    <p-accordion-panel [value]="0" pRipple>
                        <p-accordion-header class="fw-bold fs-5">פרטי שק החלל</p-accordion-header>
                        <p-accordion-content>
                            <app-deceased-bag-details [data]="deceased"></app-deceased-bag-details>
                        </p-accordion-content>
                    </p-accordion-panel>

                    <p-accordion-panel [value]="1" pRipple>
                        <p-accordion-header class="fw-bold fs-5">פרטים תפעוליים</p-accordion-header>
                        <p-accordion-content>
                            <!--<div class="d-flex flex-column gap-3 p-3">
                                @for (field of fieldsPart2; track field.field) {
                                    <div>
                                        <label class="d-block fw-bold mb-1">{{ field.header }}:</label>
                                        <div>{{ deceased[field.field] ?? 'לא הוזן' }}</div>
                                    </div>
                                } @empty {
                                    <div>אין נתונים להצגה.</div>
                                }
                            </div>-->
                        </p-accordion-content>
                    </p-accordion-panel>

                    <p-accordion-panel [value]="2" pRipple>
                        <p-accordion-header class="fw-bold fs-5">טבלת שינועים</p-accordion-header>
                        <p-accordion-content>

                            <!--<div class="p-3">
                                <div class="w-100 d-flex justify-content-end">
                                    <p-button (click)="switchToTransportTab()" class="mb-3">צור שינוע</p-button>
                                </div>
                                <h4>היסטוריית שינועים</h4>

                                <p-table #dt
                                         [columns]="transportCols"
                                         showGridlines="true"
                                         [value]="transports"
                                         [tableStyle]="{ 'min-width': '50rem' }"
                                         [size]="'small'"
                                         [rows]="10"
                                         [showCurrentPageReport]="true"
                                         currentPageReportTemplate="מציג {first} עד {last} מתוך {totalRecords} רשומות"
                                         [rowHover]="true"
                                         dataKey="id">

                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            @for (col of columns; track col.field) {
                                                <th>{{ col.header }}</th>
                                            }
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-transport let-columns="columns">
                                        <tr>
                                            @for (col of columns; track col.field) {
                                                <td>

                                                    @if (col.field === 'StartDateTime') {
                                                        {{ transport[col.field] | date: 'dd/MM/yyyy HH:mm' }}
                                                    } @else {
                                                        {{ transport[col.field] }}
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    </ng-template>

                                    <ng-template #empty>
                                        <tr>
                                            <td [attr.colspan]="transportCols.length + 2">אין נתונים זמינים.</td>
                                        </tr>
                                    </ng-template>

                                </p-table>

                            </div>-->
                        </p-accordion-content>
                    </p-accordion-panel>
                </p-accordion>
            </div>
        </p-tabpanel>
        <p-tabpanel value="1">
            <!--<app-transport-form [deceasedId]="deceased?.Id"
                                (transportCreated)="handleTransportCreated()">
            </app-transport-form>-->
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>


