<p-card class="h-auto">
  <p-table #dt
           [columns]="cols"
           showGridlines="true"
           [value]="deceasedList"
           [tableStyle]="{ 'min-width': '50rem' }"
           [size]="'small'"
           [paginator]="true"
           [rows]="10"
           [showCurrentPageReport]="true"
           currentPageReportTemplate="מציג {first} עד {last} מתוך {totalRecords} רשומות"
           [globalFilterFields]="getGlobalFilterFields()"
           [rowHover]="true"
           dataKey="id">
    <ng-template #caption>
      <div class="d-flex flex-column align-items-start justify-content-between p-2">
        <h5 class="mb-4">ניהול חללים</h5>
        <p-iconfield class="mb-3">
          <p-inputicon class="pi pi-search"/>
          <input pInputText
                 type="text"
                 (input)="dt.filterGlobal($event.target.value, 'contains')"
                 placeholder="חפש חלל..."/>
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col.field) {
          <th [pSortableColumn]="col.field">
            <div class="d-flex align-items-center gap-1 px-2">
              {{ col.header }}
              <p-sortIcon [field]="col.field"/>
            </div>
          </th>
        }
        <th class="px-4">פעולות</th>
      </tr>
    </ng-template>

    <ng-template #body let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track col.field) {
          <td>
            {{ rowData[col.field] }}
          </td>
        }
        <td>
          <p-button icon="pi pi-info-circle d-flex justify-content-center align-items-center"
                    label="פרטים"
                    [rounded]="true"
                    [outlined]="true"
                    (click)="showDetails(rowData)"/>
        </td>
      </tr>
    </ng-template>

    <ng-template #empty>
      <tr>
        <td [attr.colspan]="cols.length + 2">אין נתונים זמינים.</td>
      </tr>
    </ng-template>

  </p-table>
</p-card>

<p-dialog [(visible)]="detailsDialogVisible"
          [style]="{ height: 'auto'}"
          header="פרטי חלל"
          [modal]="true">
  <ng-template #content>
    <app-deceased-dialog [deceased]="selectedDeceased" [cols]="cols"></app-deceased-dialog>
  </ng-template>

  <ng-template #footer>
    <p-button label="סגור" icon="pi pi-times" text (click)="hideDetailsDialog()" dir="rtl"/>
  </ng-template>
</p-dialog>
