<p-card class="m-3" header="ניהול חללים">
  <p-table [columns]="cols"
           showGridlines
           [value]="deceasedList"
           [tableStyle]="{ 'min-width': '50rem' }"
           [size]="'small'">
    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col.field) {
          <th>
            {{ col.header }}
          </th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track col.field) {
          <td>
            {{ rowData[col.field] }}
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
</p-card>
