<header class="d-flex justify-content-between align-items-center pt-3 px-5 border border-bottom-1">
  <div class="d-flex gap-5 mx-5 mt">
    <div class="h-50">
      <img class="img-fluid"
           [ngSrc]="constants.israelLogo"
           width="50"
           height="40"
           priority="true"
           alt="israelLogo">
    </div>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      @for (link of links; track link) {
        <a mat-tab-link
           [routerLink]="link.path"
           routerLinkActive="active-link"
           #rla="routerLinkActive"
           [active]="rla.isActive">
          {{ link.label }}
        </a>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  </div>
  <div class="d-flex gap-3 w-auto justify-content-evenly align-items-center">
    <p-floatlabel variant="on">
      <p-iconfield>
        <p-inputicon class="pi pi-search"/>
        <input pInputText
               id="on_label"
               pSize="small"
               (keyup)="applyFilter($event.target.value)"
               [(ngModel)]="searchValue"
               autocomplete="off"/>
      </p-iconfield>
      <label for="on_label">חיפוש</label>
    </p-floatlabel>
    <span class="pi pi-bell cursor-pointer"></span>
    <span class="pi pi-user cursor-pointer"></span>
  </div>
</header>
