<header class="d-flex justify-content-between align-items-center pt-3 px-5 border border-bottom-1">
  <div class="d-flex gap-5 mx-5 mt">
    <div class="h-50">
      <img class="img-fluid"
           [ngSrc]="constants.israelLogo"
           width="50"
           height="40"
           priority="true"
           alt="israelLogo">
    </div>
    <div class="pb-3">
      <p-tabs>
        <p-tablist>
          @for(tab of tabs; track tab.url){
            <p-tab [value]="tab.url"
                   [routerLink]="tab.url"
                   routerLinkActive="p-tab-active"
                   class="d-flex align-items-center gap-2">
              <span>{{ tab.name }}</span>
              <i [class]="tab.icon"></i>
            </p-tab>
          }
        </p-tablist>
      </p-tabs>
    </div>
  </div>
  <div class="d-flex gap-3 w-auto justify-content-evenly align-items-center">
    <p-floatlabel variant="on">
      <p-iconfield>
        <p-inputicon class="pi pi-search"/>
        <input pInputText
               id="on_label"
               (keyup)="applyFilter($event.target.value)"
               [(ngModel)]="searchValue"
               autocomplete="off"/>
        <p-inputicon class="pi pi-times cursor-pointer" (click)="clearSearchField()"/>
      </p-iconfield>
      <label for="on_label">חיפוש</label>
    </p-floatlabel>
    <span class="pi pi-bell cursor-pointer"></span>
    <div class="relative">
      <p-menu #menu [model]="userMenuItems" [popup]="true"></p-menu>
      <span class="pi pi-user cursor-pointer" (click)="menu.toggle($event)"></span>
    </div>
  </div>
</header>
