<p-dialog [(visible)]="visible"
          (onHide)="closeDialog()"
          closeOnEscape="true"
          dismissableMask="true"
          header="עדכון פרטי טהרה"
          [modal]="true"
          [style]="{width: '60vw'}"
          [draggable]="false">

  @if (processData) {
    <div class="d-flex my-4 w-50 gap-4">
      <div class="d-flex flex-column gap-4 w-100">
        <div>
          <p-floatlabel variant="on" class="w-100">
            <input pInputText class="w-100" [ngModel]="processData.FullName" [readonly]="true"/>
            <label>שם מלא</label>
          </p-floatlabel>
        </div>
        <div>
          <p-floatlabel variant="on" class="w-100">
            <input pInputText class="w-100" [ngModel]="processData.IdentityNumber" [readonly]="true"/>
            <label>מספר זהות</label>
          </p-floatlabel>
        </div>
      </div>

      <div class="d-flex flex-column gap-4 w-100">
        <div>
          <p-floatlabel variant="on" class="w-100">
            <input pInputText class="w-100" [ngModel]="processData.FatherName" [readonly]="true"/>
            <label>שם האב</label>
          </p-floatlabel>
        </div>
      </div>
    </div>

    <p-divider></p-divider>

    <div class="d-flex w-100 pt-3">
      <div class="d-flex flex-column w-50 gap-3">
        <div class="w-75">
          <p-floatlabel variant="on" class="w-100">
            <p-select [options]="taharahLocations"
                      [(ngModel)]="processData.TaharahLocation"
                      optionLabel="Text"
                      optionValue="Value"
                      appendTo="body"
                      class="w-100"></p-select>
            <label>מקום הטהרה</label>
          </p-floatlabel>
        </div>

        <div class="w-75 mt-3">
          <p-floatlabel variant="on" class="w-100">
            <p-datePicker [(ngModel)]="processData.TaharahProcessStartDate"
                          [showTime]="true" hourFormat="24" dateFormat="dd/mm/yy" appendTo="body"
                          class="w-100"></p-datePicker>
            <label>תאריך תחילת תהליך טהרה</label>
          </p-floatlabel>
        </div>

        <div class="w-75 mt-3">
          <p-floatlabel variant="on" class="w-100">
            <p-datePicker [(ngModel)]="processData.TaharahClosingDate"
                          [showTime]="true" hourFormat="24" dateFormat="dd/mm/yy" appendTo="body"
                          class="w-100"></p-datePicker>
            <label>תאריך סגירת הכנה לקבורה</label>
          </p-floatlabel>
        </div>

        <div class="w-75 mt-3">
          <p-floatlabel variant="on" class="w-100">
            <input pInputText [(ngModel)]="processData.ExitTransportBy" class="w-100"/>
            <label>מבצע שינוע יציאה לקבורה</label>
          </p-floatlabel>
        </div>
      </div>

      <div class="d-flex flex-column w-50 gap-3">
        <div class="d-flex align-items-center gap-2">
          <p-checkbox [(ngModel)]="processData.IsTaharahPerformed" [binary]="true" inputId="isTaharah"></p-checkbox>
          <label for="isTaharah" class="font-bold cursor-pointer">האם בוצעה טהרה?</label>
        </div>

        <div class="d-flex align-items-center gap-2">
          <p-checkbox [(ngModel)]="processData.HasTachrichim" [binary]="true" inputId="shrouds"></p-checkbox>
          <label for="shrouds" class="font-bold cursor-pointer">האם יש תכריכי פשתן?</label>
        </div>

        <div class="d-flex align-items-center gap-2">
          <p-checkbox [(ngModel)]="processData.InCoffin" [binary]="true" inputId="isCoffin"></p-checkbox>
          <label for="isCoffin" class="font-bold cursor-pointer">האם הוכנס לארון?</label>
        </div>

        <div class="w-75 mt-3">
          <p-floatlabel variant="on" class="w-100">
            <input pInputText
                   [disabled]="!processData.InCoffin"
                   [required]="processData.InCoffin"
                   [(ngModel)]="processData.CoffinReason"
                   class="w-100"/>
            <label>סיבת הכנסה לארון</label>
          </p-floatlabel>
        </div>
      </div>
    </div>
  }

  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-between w-100">

      @if (!isReleasedMode) {
        <p-button label="שחרור"
                  (click)="onRelease()"
                  icon="pi pi-sign-out"
                  [disabled]="!processData?.HasTachrichim"
                  severity="warn">
        </p-button>


        <div class="d-flex gap-2">
          <p-button label="ביטול" (click)="closeDialog()" [text]="true" severity="secondary"></p-button>
          <p-button label="שמור שינויים" (click)="submitUpdate()" icon="pi pi-save" severity="primary"></p-button>
        </div>
      }
    </div>
  </ng-template>
</p-dialog>
