<p-tabs [(value)]="activeTab">
  <p-tablist class="p-4">
    <p-tab value="0">פרטים</p-tab>
    <p-tab value="1">פרטי קבורה</p-tab>
    <p-tab value="2">תיאום קבורה</p-tab>
    <p-tab value="3">סטטוס תהליך קבורה</p-tab>
    <p-tab value="4">שינועים</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div class="p-3">
        <p-accordion [value]="[0]" [multiple]="true">
          @for (panel of deceasedAccordion; track panel.title; let i = $index) {
            <p-accordion-panel [value]="i" pRipple>
              <p-accordion-header class="fw-bold">{{ panel.title }}</p-accordion-header>
              <p-accordion-content>
                <app-deceased-static-fields [data]="panel"></app-deceased-static-fields>
              </p-accordion-content>
            </p-accordion-panel>
          }
        </p-accordion>
      </div>
    </p-tabpanel>
    <!--<p-tabpanel value="1">
      <app-transport-form [deceasedId]="deceased?.Id"
                          (transportCreated)="handleTransportCreated()">
      </app-transport-form>
    </p-tabpanel>-->
    <p-tabpanel value="1">
      @if (burialDetailsData) {
        <app-deceased-static-fields [data]="burialDetailsData"></app-deceased-static-fields>
      }
    </p-tabpanel>
    <p-tabpanel value="2">
      @if (coordinationData) {
        <app-burial-coordination-form [data]="coordinationData"
                                      (saveCoordination)="saveBurialCoordination($event)">
        </app-burial-coordination-form>
      }
    </p-tabpanel>
    <p-tabpanel value="3">
      @if (burialProcess) {
        <app-burial-process-form [data]="burialProcess"
                                 (saveBurialProcess)="saveBurialProcess($event)">
        </app-burial-process-form>
      }
      <!--<div class="d-flex gap-5">
        <div class="d-flex flex-column mt-4 w-50 gap-5">
          <div class="d-flex justify-content-center">
            <p-select [options]="burialTypes"
                      [(ngModel)]="deceased?.BurialDetails.BurialType"
                      optionLabel="Text"
                      optionValue="Value"
                      placeholder="סוג קבורה"
                      class="w-100 md:w-56"/>
          </div>
          <div class="d-flex justify-content-center">
            <p-select [options]="burialBody"
                      [(ngModel)]="deceased?.BurialCoordination.BurialBody"
                      optionLabel="Text"
                      optionValue="Value"
                      placeholder="בית עלמין"
                      class="w-100 md:w-56"/>
          </div>
        </div>
        <div class="d-flex flex-column w-50">
          <div class="d-flex flex-column w-50">
            <label>שעת קבורה</label>
            <p-datePicker
              [(ngModel)]="deceased?.BurialCoordination.BurialTime"
              [showTime]="true"
              [showIcon]="true"
              dateFormat="dd/mm/yy"
              [hourFormat]="'24'"
              [pAutoFocus]="false"
              appConvertTimezone>
            </p-datePicker>
          </div>
          <div class="d-flex flex-column w-100">
            <p-floatlabel class="mt-5">
              <input pInputText
                     class="w-100"
                     [pAutoFocus]="true"
                     autocomplete="off"/>
              <label>גוש</label>
            </p-floatlabel>
            <p-floatlabel class="mt-5">
              <input pInputText
                     class="w-100"
                     [pAutoFocus]="true"
                     autocomplete="off"/>
              <label>חלקה</label>
            </p-floatlabel>
            <p-floatlabel class="mt-5">
              <input pInputText
                     class="w-100"
                     [pAutoFocus]="true"
                     autocomplete="off"/>
              <label>שורה</label>
            </p-floatlabel>
            <p-floatlabel class="mt-5">
              <input pInputText
                     class="w-100"
                     [pAutoFocus]="true"
                     autocomplete="off"/>
              <label>קבר</label>
            </p-floatlabel>
          </div>
        </div>
      </div>-->
    </p-tabpanel>
    <p-tabpanel value="4">
      <app-transports-table [transports]="transports"
                            (openDialog)="openTransportDialog($event)">
      </app-transports-table>
      <p-dialog [(visible)]="isTransportDialogOpen"
                closeOnEscape="true"
                dismissableMask="true"
                [style]="{ width: '50rem', 'max-height': '90vh'}"
                header="הוספת שינוע"
                modal="true">
        <app-transport-form (saveTransport)="saveTransport($event)"></app-transport-form>
      </p-dialog >
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>


