<p-tabs [(value)]="activeTab" (valueChange)="onTabChange($event)">
  <p-tablist class="p-4">
    <p-tab value="0" [disabled]="isEdit && activeTab !== '0'">פרטים</p-tab>
    <p-tab value="1" [disabled]="isEdit && activeTab !== '1'">פרטי קבורה</p-tab>
    <p-tab value="2" [disabled]="isEdit && activeTab !== '2'">תיאום קבורה</p-tab>
    <p-tab value="3" [disabled]="isEdit && activeTab !== '3'">סטטוס תהליך קבורה</p-tab>
    <p-tab value="4" [disabled]="isEdit && activeTab !== '4'">שינועים</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div class="p-3">
        <p-accordion [value]="[0]" [multiple]="true">
          @for (panel of deceasedAccordion; track panel.title; let i = $index) {
            <p-accordion-panel [value]="i" pRipple>
              <p-accordion-header class="fw-bold">{{ panel.title }}</p-accordion-header>
              <p-accordion-content>
                <app-deceased-static-fields [data]="panel"></app-deceased-static-fields>
              </p-accordion-content>
            </p-accordion-panel>
          }
        </p-accordion>
      </div>
    </p-tabpanel>
    <p-tabpanel value="1">
      @if (burialDetailsData) {
        <app-deceased-static-fields [data]="burialDetailsData"></app-deceased-static-fields>
      }
    </p-tabpanel>
    <p-tabpanel value="2">
      @if (coordinationData) {
        <app-burial-coordination-form [data]="coordinationData"
                                      [isEdit]="isEdit"
                                      (editModeChange)="setEdit($event)"
                                      (saveCoordination)="saveBurialCoordination($event)">
        </app-burial-coordination-form>
      }
    </p-tabpanel>
    <p-tabpanel value="3">
      @if (burialProcess) {
        <app-burial-process-form [data]="burialProcess"
                                 [isEdit]="isEdit"
                                 (editModeChange)="setEdit($event)"
                                 (saveBurialProcess)="saveBurialProcess($event)">
        </app-burial-process-form>
      }
    </p-tabpanel>
    <p-tabpanel value="4">
      <app-transports-table [transports]="transports"
                            (openDialog)="openTransportDialog($event)">
      </app-transports-table>
      <p-dialog [(visible)]="isTransportDialogOpen"
                closeOnEscape="true"
                dismissableMask="true"
                [style]="{ width: '70rem', maxHeight: '90vh'}"
                header="הוספת שינוע"
                modal="true">
        @if (isTransportDialogOpen) {
          <app-transport-form (saveTransport)="saveTransport($event)"></app-transport-form>
        }
      </p-dialog>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>


