/* You can add global styles to this file, and also import other style files */
//@import 'ngx-toastr/toastr';
//@import 'assets/css/app.scss';
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,body{
  height: 100%;
}

/*.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: black;
}*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.active-link{
  background-color: #dcdcdc;
  color: black;
  border-radius: 5px;
}

#toast-container{
  top: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.dir-ltr{
  direction: ltr;
}

.grey-bg {
  background-color: #e8e8e8;
}

.hover-btn {
  scale: 0.5;
  width: 3.5rem;
  height: 3rem;
}

.mat-drawer-backdrop{
  background-color: transparent !important;
}

.mat-icon{
  width: 2rem !important;
  height: 2rem !important;
  font-size: 1.7rem;
  cursor: pointer;
}

.p-toast-message-content{
  display: flex !important;
  align-items: center !important;
}
