<div class="p-3 mt-5">
  <p-toolbar class="mb-4 shadow-sm border-0 bg-light">
    <div class="p-toolbar-group-start d-flex gap-3">

      <p-button label="הוספת חלל"
                icon="pi pi-plus"
                severity="success"
                (click)="onAddDeceased()"/>

      <p-button label="עריכה"
                icon="pi pi-pencil"
                severity="info"
                [disabled]="!dt.selection"
                (click)="onEditDeceased()"/>

      <!--<p-button severity="danger"
                label="מחק"
                icon="pi pi-trash"
                outlined
                (click)="onDeleteDeceased()"
                [disabled]="!dt.selection"/>-->
    </div>
  </p-toolbar>

  <p-table #dt
           [columns]="cols"
           showGridlines="true"
           [value]="deceasedList"
           [tableStyle]="{ 'min-width': '50rem' }"
           [size]="'small'"
           [paginator]="true"
           [rows]="10"
           [showCurrentPageReport]="true"
           currentPageReportTemplate="מציג {first} עד {last} מתוך {totalRecords} רשומות"
           [globalFilterFields]="getGlobalFilterFields()"
           [rowHover]="true"
           selectionMode="single"
           dataKey="Id">

    <ng-template #caption>
      <div class="d-flex flex-column align-items-start justify-content-between p-2 mb-2">
        <h5 class="mb-4">ניהול חללים</h5>
        <p-iconfield class="mb-3">
          <p-inputicon class="pi pi-search"/>
          <input pInputText
                 type="text"
                 (input)="dt.filterGlobal($event.target.value, 'contains')"
                 [(ngModel)]="searchText"
                 placeholder="חפש חלל..."/>
          <p-inputicon class="pi pi-times cursor-pointer" (click)="clearSearch()"/>
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header let-columns>
      <tr>
        <th>בחירה</th>
        @for (col of columns; track col.field) {
          <th [pSortableColumn]="col.field">
            <div class="d-flex align-items-center gap-1 px-2">
              {{ col.header }}
              <p-sortIcon [field]="col.field"/>
            </div>
          </th>
        }
      </tr>
    </ng-template>

    <ng-template #body let-deceased let-columns="columns">
      <tr [pSelectableRow]="deceased">
        <td style="width: 3rem">
          <p-tableRadioButton [value]="deceased"/>
        </td>
        @for (col of columns; track col.field) {
          <td>
            {{ deceased[col.field] }}
          </td>
        }
      </tr>
    </ng-template>

    <ng-template #empty>
      <tr>
        <td [attr.colspan]="cols.length + 2">אין נתונים זמינים.</td>
      </tr>
    </ng-template>

  </p-table>

  <p-dialog [(visible)]="showDeceasedDialog"
            [header]="newDeceased?.Id ? 'עריכת פרטי שק/חלל' : 'יצירת חלל חדש'"
            [modal]="true"
            [style]="{ width: '50rem' }"
            [draggable]="false"
            dismissableMask="true">

    <form #deceasedForm="ngForm" class="p-fluid">

      <div class="d-flex flex-column">

        <div class="mb-4 bg-light p-3 mt-3 border-round shadow-sm">
          <div class="col-md-6 d-flex align-items-center gap-3">
            <p-checkbox inputId="isIdentified"
                        [(ngModel)]="isIdentified"
                        [binary]="true"
                        name="isIdentified"></p-checkbox>
            <label class="fw-bold" for="isIdentified">האם החלל מזוהה?</label>
          </div>
        </div>

        @if (isIdentified) {
          <div class="col-md-12 d-flex flex-column gap-3">
            <h6 class="fw-bold border-bottom pb-2 mb-3">פרטי זיהוי</h6>

            @if (!isEdit) {
              <div class="mb-4">
                <label class="small text-muted d-block mb-1">חיפוש חלל קיים מתוך הרשימה (אופציונלי)</label>
                <p-select [options]="recognizedDeceased"
                          [(ngModel)]="selectedExistingDeceased"
                          class="w-50"
                          name="existingDeceased"
                          optionLabel="FullName"
                          [filter]="true"
                          (onChange)="onExistingDeceasedSelect($event)">
                </p-select>
              </div>
            }

            <div class="row g-4">
              <div class="col-md-6">
                <p-floatlabel variant="on">
                  <input pInputText id="identityNumber"
                         name="identityNumber"
                         identityvalidator
                         [(ngModel)]="newDeceased.IdentityNumber"
                         [required]="!selectedExistingDeceased" autocomplete="off"/>
                  <label for="identityNumber">תעודת זהות</label>
                </p-floatlabel>
              </div>
              <div class="col-md-6">
                <p-floatlabel variant="on">
                  <input pInputText
                         id="firstName"
                         name="firstName"
                         [(ngModel)]="newDeceased.FirstName"
                         [required]="!selectedExistingDeceased"/>
                  <label for="firstName">שם פרטי</label>
                </p-floatlabel>
              </div>
              <div class="col-md-6">
                <p-floatlabel variant="on">
                  <input pInputText
                         id="lastName"
                         name="lastName"
                         [(ngModel)]="newDeceased.LastName"
                         [required]="!selectedExistingDeceased"/>
                  <label for="lastName">שם משפחה</label>
                </p-floatlabel>
              </div>
              <div class="col-md-6">
                <p-floatlabel variant="on">
                  <input pInputText
                         id="fatherName"
                         name="fatherName"
                         [(ngModel)]="newDeceased.FatherName"
                         [required]="!selectedExistingDeceased"/>
                  <label for="fatherName">שם האב</label>
                </p-floatlabel>
              </div>
            </div>
          </div>
        }

        <div class="mb-4 bg-light p-3 border-round shadow-sm mt-4">
          <div class="col-md-6 d-flex align-items-center gap-3">
            <p-checkbox inputId="isFullBody"
                        [(ngModel)]="isFullBody"
                        [binary]="true"
                        name="isFullBody"></p-checkbox>
            <label class="fw-bold" for="isFullBody">האם הגופה שלמה?</label>
          </div>
        </div>

        <div class="col-md-12">

          <div class="row g-3">

            @if (!isFullBody) {
              <h6 class="fw-bold border-bottom pb-2 mb-3">פרטי השק</h6>
              <div class="col-md-6">
                <p-floatlabel variant="on">
                  <input pInputText id="partDescription" name="partDescription"
                         [(ngModel)]="newBag.PartDescription"
                         required/>
                  <label for="partDescription">תיאור חלק (חובה)</label>
                </p-floatlabel>
              </div>
            }
          </div>
        </div>

      </div>
    </form>

    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-start gap-3 w-100 mt-3">

        @if (newDeceased?.Id && isEdit) {
          <p-button label="עדכן חלל" icon="pi pi-check" severity="info"
                    [disabled]="deceasedForm.invalid" (click)="onSaveDeceased()"/>
        }
        @else if (selectedExistingDeceased) {
          <p-button label="הוסף שק לחלל הנבחר" icon="pi pi-plus-circle" severity="warn"
                    [disabled]="!isFullBody && !newBag.PartDescription" (click)="onAddBagToDeceased()"/>
        }
        @else {
          <p-button label="הוסף חלל ושק" icon="pi pi-plus" severity="success"
                    [disabled]="deceasedForm.invalid" (click)="onSaveDeceased()"/>
        }

        <p-button label="ביטול" icon="pi pi-times" severity="secondary"
                  [outlined]="true" (click)="showDeceasedDialog = false"/>
      </div>
    </ng-template>

  </p-dialog>
</div>
