<p-dialog [(visible)]="visible"
          (onShow)="onShow()"
          (onHide)="closeDialog()"
          closeOnEscape="true"
          dismissableMask="true"
          header="קליטת חלל לטהרה"
          [modal]="true"
          [style]="{width: '450px'}"
          [draggable]="true">

  <div class="d-flex flex-column justify-content-between py-3 gap-5">

    <p-floatlabel variant="on">
      <input pInputText
             class="w-100"
             [(ngModel)]="intakeData.TaharahReceptionStaff"
             autocomplete="off"/>
      <label>שם ממלא (קולט לטהרה)</label>
    </p-floatlabel>

  </div>

  <ng-template pTemplate="footer">
    <p-button label="ביטול" (click)="closeDialog()" [text]="true" severity="secondary"></p-button>
    <p-button label="שמור וקלוט" (click)="submitIntake()" icon="pi pi-check" severity="success"></p-button>
  </ng-template>
</p-dialog>
