<p-dialog header="יצירת שינוע חדש"
          [(visible)]="visible"
          (onHide)="close()"
          [modal]="true"
          [style]="{width: '60vw'}"
          [draggable]="false"
          [resizable]="false"
          closeOnEscape="true"
          dismissableMask="true"
          dir="rtl">

  <form #transportForm="ngForm">

    <div class="w-100">
      <h5 class="mb-3 text-gray-600">שיוך שקים</h5>
      <p-floatlabel variant="on" class="w-100">
        <p-multiSelect name="BagNumbers"
                       [options]="availableBags"
                       [(ngModel)]="transportData.BagNumbers"
                       optionLabel="FullLabel"
                       optionValue="BagNumber"
                       filterPlaceHolder="חפש לפי מספר שק או ת.ז..."
                       display="chip"
                       [selectionLimit]="3"
                       [maxSelectedLabels]="4"
                       placeholder="בחר שקים לשינוע"
                       appendTo="body"
                       class="w-100"
                       required></p-multiSelect>
      </p-floatlabel>
    </div>

    <p-divider></p-divider>

    <div class="d-flex flex-column gap-4 py-2">

      <div class="row">

        <div class="col-6 d-flex flex-column gap-4 border-left-1 border-gray-200 pl-4">
          <h5 class="m-0 text-gray-600">פרטי מקור וארגון</h5>

          <p-floatlabel variant="on" class="w-100">
            <p-select id="startType"
                      name="StartLocationType"
                      [options]="stationsList"
                      [(ngModel)]="transportData.StartLocationType"
                      (onChange)="onOrganizationTypeChange()"
                      optionLabel="Text"
                      optionValue="Key"
                      appendTo="body"
                      class="w-100"
                      required
                      #startType="ngModel"></p-select>
            <label>סוג תחנה משנעת</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="w-100">
            <p-select id="startStation"
                      name="StartStationId"
                      [options]="subStationsList"
                      [(ngModel)]="transportData.StartStationId"
                      optionLabel="Text"
                      optionValue="Key"
                      [disabled]="!transportData.StartLocationType"
                      appendTo="body"
                      class="w-100"
                      #station="ngModel"></p-select>
            <label>תחנה משנעת</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="w-100">
            <p-select id="purpose"
                      name="Purpose"
                      [options]="purposes"
                      [(ngModel)]="transportData.Purpose"
                      optionLabel="label"
                      optionValue="value"
                      appendTo="body"
                      class="w-100"
                      required></p-select>
            <label>תכלית השינוע</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="w-100">
            <input pInputText name="Organization" [(ngModel)]="transportData.Organization" class="w-100" required/>
            <label>ארגון מבצע (לדוגמה: זק"א)</label>
          </p-floatlabel>
        </div>

        <div class="col-6 d-flex flex-column gap-4 pr-4">
          <h5 class="m-0 text-gray-600">פרטי יעד ורכב</h5>

          <p-floatlabel variant="on" class="w-100">
            <p-select id="Destination"
                      name="Destination"
                      [options]="purposes"
                      [(ngModel)]="transportData.Destination"
                      optionLabel="label"
                      optionValue="value"
                      appendTo="body"
                      class="w-100"
                      required></p-select>
            <label>יעד שינוע</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="w-100">
            <input pInputText name="VehicleType" [(ngModel)]="transportData.VehicleType" class="w-100" required/>
            <label>סוג רכב</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="w-100">
            <input pInputText name="LicensePlate" [(ngModel)]="transportData.LicensePlate" class="w-100" required/>
            <label>לוחית רישוי</label>
          </p-floatlabel>
        </div>
      </div>

      <p-divider></p-divider>

      <div>
        <h5 class="mb-3 text-gray-600">פרטי נהג</h5>

        <div class="row">

          <div class="col-6 mb-4">
            <p-floatlabel variant="on" class="w-100">
              <input pInputText name="DriverFirstName"
                     [(ngModel)]="transportData.DriverFirstName"
                     class="w-100"
                     required/>
              <label>שם פרטי</label>
            </p-floatlabel>
          </div>

          <div class="col-6 mb-4">
            <p-floatlabel variant="on" class="w-100">
              <input pInputText name="DriverLastName"
                     [(ngModel)]="transportData.DriverLastName"
                     class="w-100"
                     required/>
              <label>שם משפחה</label>
            </p-floatlabel>
          </div>

          <div class="col-6">
            <p-floatlabel variant="on" class="w-100">
              <input pInputText
                     name="DriverIdentityNumber"
                     identityvalidator
                     [(ngModel)]="transportData.DriverIdentityNumber"
                     class="w-100"
                     required/>
              <label>תעודת זהות</label>
            </p-floatlabel>
          </div>

          <div class="col-6">
            <p-floatlabel variant="on" class="w-100">
              <input pInputText name="DriverPhone"
                     [(ngModel)]="transportData.DriverPhone"
                     class="w-100"
                     required/>
              <label>טלפון נייד</label>
            </p-floatlabel>
          </div>

        </div>
      </div>

      <p-divider></p-divider>

    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-end gap-2 mt-2">
      <p-button label="צור שינוע" icon="pi pi-check" (click)="save()" severity="primary"
                [disabled]="transportForm.invalid"></p-button>
      <p-button label="ביטול" icon="pi pi-times" [text]="true" severity="secondary" (click)="close()"></p-button>
    </div>
  </ng-template>

</p-dialog>
