button.bar{
  height: 4rem !important;
  width: 4rem !important;
}

table[mat-table] {
  width: 100%;
}

.mat-sort-header-content {
  font-size: 1.2rem !important;
  font-weight: bold;
  text-align: start !important;
}

.mat-footer-cell.total{
  font-size: 1.2rem !important;
}

button[matSuffix]{
  padding: 0px !important;
}

button[color="success"]{
  background-color: #00953C !important;
  color: white !important;
}

button[color="error"]{
  background-color: #DC3545 !important;
  color: white !important;
}
