/*
mat-icon{
  font-size: 2rem !important;
  height: 2rem !important;
  width: 2rem !important;
}
*/

mat-icon{
  scale: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem !important;
  width: 2rem !important;
}

mat-icon.bar{
  font-size: 2.5rem !important;
  height: 2.5rem !important;
  width: 2.5rem !important;
}

button.bar{
  height: 4rem !important;
  width: 4rem !important;
}

table[mat-table] {
  width: 100%;
}

.mat-sort-header-content {
  font-size: 1.2rem !important;
  font-weight: bold;
  text-align: start !important;
}

.mat-footer-cell.total{
  font-size: 1.2rem !important;
}

button[matSuffix]{
  padding: 0px !important;
}

button[color="success"]{
  background-color: #00953C !important;
  color: white !important;
}

button[color="error"]{
  background-color: #DC3545 !important;
  color: white !important;
}

.mat-mdc-form-field-infix{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
